In [1]:
%load_ext autoreload
%autoreload 2

In [47]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import tensorflow as tf

import os

from dice_rl_plugins.dataset import load_or_create_dataset_Experience, one_hot_encode_observation, print_env_step
from dice_rl_plugins.applications.boyan_chain.environment import get_env

In [3]:
pd.set_option("display.max_rows", 100)
pd.set_option("display.max_column", 100)

In [6]:
data_dir = os.path.join("data", "boyan_chain")

datasets_dir = os.path.join(data_dir, "datasets")
outputs_dir  = os.path.join(data_dir, "outputs")


seed = 0
num_experience = 100_000
p = 0.1
N = 12

k = "c"
kind = "continuing"

hparam_str_dataset = f"{seed=}_{num_experience=}_{N=}_kind={kind}"
dataset_dir = os.path.join(datasets_dir, hparam_str_dataset)

In [7]:
env = get_env(seed=seed, N=N, kind=kind)

dataset = load_or_create_dataset_Experience(
    dataset_dir=dataset_dir,
    env=env, num_experience=num_experience, seed=seed,
)

data/boyan_chain/datasets/seed=0_num_experience=100000_N=12_kind=continuing/dataset-ctr.pkl

In [55]:
env_step, _ = dataset.get_episode()

In [56]:
env_step_OHC_obs = one_hot_encode_observation(env_step, dataset, dataset)

In [57]:
print_env_step(env_step)
print_env_step(env_step_OHC_obs)

   step_type  step_num  observation  action  reward  discount
0          0         0            2       0    -3.0       1.0
1          1         1            6       1    -3.0       1.0
2          1         2            4       0    -3.0       1.0

,step_type,step_num,observation,action,reward,discount
0,0,0,"[0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]",0,-3.0,1.0
1,1,1,"[0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0]",1,-3.0,1.0
2,1,2,"[0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0]",0,-3.0,1.0